
.navbar{
    float:right;

}
.about{
    padding: 10px;
}
.how{
    padding: 10px;
}
.nice{
    padding: 10px;
}
.operational{
    text-align: center;
    padding-top: 3em;
}
.heading{
font-size: 3em;
}
span{
    color: blue;}
.para{
    font-size: small;

}
.unique{
    font-size: small;
}
.manage{
    font-size: small;
}

button{
    size: 10em;
}
.logos{
    width: 80px;
    display: inline-block;
    align-items: baseline;

}
.all{
    text-align: justify;
}
.first{
    border: solid skyblue;
    background-color: skyblue;
    margin: 4px;
    text-align: center;
    border-radius: 10%;
    height: 130px;
    width: 100px;

}
.second{
    border: solid gray;
    background-color: gray;
    margin: 4px;
    text-align: center;
    border-radius: 10%;
    height: 130px;
    width: 110px;
}
.third{
    border: solid pink;
    background-color: pink;
    margin: 4px;
    text-align: center;
    border-radius: 10%;
    height: 130px;
    width: 110px ;
}
.values{
    display: flex;
}
.box{
    display: flex;
    margin-left: 40em;
}
.last{
    display: flex;
}
.para hr{ 

border-top: 3px solid palevioletred; 
margin: 3px;
}
.unique hr{
    border-top: 3px solid gray;
    margin: 3px;

}
.manage hr{
    border-top: 3px solid blue;
    margin: 3px;
    

}
.packing{
    color: blue;
    font-size: x-large;
justify-content: center;

}
.text{
display: flex;
justify-content: end;
margin-left: 47%;
padding-top: 5em;

}
.button{
    size: 30em;
    padding: 1em;
    margin-left: 1em;
}
.Head{
}
.packind{
    display: flex;
}
.top{
    padding-left: 3em;
    margin-left: 3px;
}